@{
    ViewBag.Title = "Panda | Mobile";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div id="container_watchlist" class="contentContainer">                            
        
    My Watchlist
</div>
