*:not(input):not(textarea) {
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
  -webkit-apperance: none;
  /* disable the IOS optical zoom */ 
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%; 

}

body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  border: none;
  overflow: hidden;
  -webkit-tap-highlight-color: #c2c2c2;
  background-color: #1f1f1f;
  /* Old browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 800, color-stop(0%, #fefefe), color-stop(100%, #c2c2c2));
  /* Chrome,Safari4+ */
  background-image: -webkit-radial-gradient(50% 50%, circle cover, #fefefe, #c2c2c2 100%);
  background-size: 100% 100%; 
}

.hidden {
	display:none;
}

#viewport {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-color: transparent;
  width: 100%; 

}


#carosal {
  position: relative; 
}

#mainContainer {
  top: 0px;
  left: 0px;
  right: 0px;
  background: none;
  width: 100%; 
}

.contentContainer {
  display: none;
  color: #191919;
  background-color: #1c1c1c;
  background-color: white;
  background-image: -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px; 
}


.selectedContainer
{
    display: block; 
}